/* Importing Fonts */
@font-face {
    font-family: 'Roboto';
    src: url('assets/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/roboto/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('assets/roboto/Roboto-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('assets/roboto/Roboto-CondensedItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('assets/roboto/Roboto-BoldCondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('assets/roboto/Roboto-BoldCondensedItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Scroll Bar Rules */
::-webkit-scrollbar {
width: 12px; 
height: 12px; 
}

::-webkit-scrollbar-thumb {
background-color: orange; 
border-radius: 10px; 
}

::-webkit-scrollbar-track {
background-color: #00000020; 
}

/* Body Rules */
body {
    background-color: rgb(20, 20, 20);
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px;
    overflow-x: hidden;
}

/* Navbar Rules */
header {
    position: absolute;
    position: fixed;
    z-index: 5;
    width: 100vw;
    justify-items: center;
    margin-top: 0px;
    padding: 10px 20px 10px 20px;
    transition: padding 0.4s ease-in-out;
}

.scrolled  {
    backdrop-filter: blur(10px);
    transition: background-color 0.4s ease-in-out;
    box-shadow: #00000020 0px 5px 10px;

}


.scrolled .navbar ul {
    padding: 8px 18px 8px 18px;
    transition: padding 0.4s ease-in-out;
    backdrop-filter: blur(10px);
}

.scrolled .navbar a {
    font-size: 18px;
    transition: font-size 0.4s ease-in-out;
}

.navbar ul {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 10px 20px 10px 20px;
    transition: padding 0.4s ease-in-out;
    border-radius: 30px;
       
}

.navbar-image {
    width: 50px;
    height: 50px;
    padding-right: 20px;
}

.navbar li {
    padding-right: 20px;
    text-decoration: none;
}

.navbar li:last-child {
    padding-right: 0px;
}

.navbar a {
    text-decoration: underline;
    text-decoration-color: transparent; 
    transition: text-decoration-color 0.3s ease, color 0.3s ease;
    color: whitesmoke;
    font-size: 20px;
    transition: font-size 0.4s ease-in-out;
}

.navbar a:hover {
    text-decoration-color: #ffcc00;
    color: #ffcc00;
    transition: text-decoration-color 0.3s ease-in-out, color 0.3s ease;
}

/* Home Section Rules */
.home {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;  
}

.home div:first-child {
    align-content: center;
    margin-left: 40px;
}

.main-heading {
    position: relative;
    font-size: 75px; 
    color: rgb(255, 255, 255); 
    margin: 0; 
}

.sub-heading {
    font-size: 24px;
    font-weight: lighter;
    color: whitesmoke; 
    margin: 0; 
}



/* About Section Rules */
.about {
    display: flex;
    flex-direction: column;
    min-height: auto;
}

.about-heading {
    color: orange;
    justify-items: center;
    font-size: 45px;
    padding-top: 50px;
}

.about-text {
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    font-size: 22px;
}


/* Services Section Rules */
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.services-heading {
    color: orange;
    font-size: 45px;
    padding-top: 50px;
    padding-bottom: 40px;
    align-self: center;

}

.services-body {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.services-body h3 {
    color:black;
    justify-self: center;
    font-size: 1.3rem;
}

.card-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    
}

.Card {
    margin: 0px 10px;
    padding: 10px 10px 10px 10px;
    background-color: whitesmoke;
    perspective: 1000px;
    border-radius: 10px;
    cursor: pointer;

}

.popup {
    position: fixed;
    z-index: 5;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 200ms ease-in-out;
    width: 720px;
    max-width: 50%;
    height: 500px;
    max-height: 50%;
}

.popup.active {
    transform: translate(-50%, -70%) scale(1);
    transition: transform 200ms ease-in-out;
}

.popup .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    background-color: whitesmoke;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;   

}

.popup .title .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.popup .body {
    font-size: 1.25rem;
    color: black;
    background-color: whitesmoke;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid black;
    padding: 20px 20px 20px 20px;
    overflow-y: scroll;
    max-height: 70%;
}

#Audio-engineer-popup .body .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#Audio-engineer-popup .body .header .rignt-align {
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

#Audio-engineer-popup .body .header .left-align {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#Audio-engineer-popup .body img {
    align-self: flex-start;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    justify-items: right;
}

#Audio-engineer-popup .body .bullets {
    list-style-image: url("assests/mic-bullet.png");
}
  

#overlay {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;

}

#overlay.active {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    pointer-events: all;
}

/* Contact Section Rules */


/* Footer Section Rules */

footer {
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: end;
    overflow-y: hidden;
    margin: 0;

}

.footer-heading {
    color: orange;
    justify-items: center;
    font-size: 45px;
    padding-top: 50px;
}

.footer-img img {
    width: 1300px;
    margin-bottom: -120px; 
    text-decoration: none;
}

.footer-email {
    color: whitesmoke;
    font-size: 22px;
}

.footer-social-icons a {
    padding: 0px 10px;
    text-decoration: none;
}

.footer-social-icons img {
    width: 45px;
    height: 45px;
    
}
