/* Scroll Bar Rules */
::-webkit-scrollbar {
width: 12px; 
height: 12px; 
}

::-webkit-scrollbar-thumb {
background-color: orange;  
}

::-webkit-scrollbar-track {
background-color: #00000020; 
}

/* Body Rules */
body {
    background-color: rgb(20, 20, 20);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px 0px;
    overflow-x: hidden;
}

/* Navbar Rules */
header {
    position: absolute;
    position: fixed;
    z-index: 3;
    width: 100vw;
    justify-items: center;
    margin-top: 0px;
    padding: 10px 20px 10px 20px;
    transition: padding 0.4s ease-in-out;
}

.scrolled  {
    backdrop-filter: blur(10px);
    transition: background-color 0.4s ease-in-out;
    box-shadow: #00000020 0px 5px 10px;

}


.scrolled .navbar ul {
    padding: 8px 18px 8px 18px;
    transition: padding 0.4s ease-in-out;
    backdrop-filter: blur(10px);
}

.scrolled .navbar a {
    font-size: 18px;
    transition: font-size 0.4s ease-in-out;
}

.navbar ul {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 10px 20px 10px 20px;
    transition: padding 0.4s ease-in-out;
    border-radius: 30px;
       
}

.navbar-image {
    width: 50px;
    height: 50px;
    padding-right: 20px;
}

.navbar li {
    padding-right: 20px;
    text-decoration: none;
}

.navbar li:last-child {
    padding-right: 0px;
}

.navbar a {
    text-decoration: underline;
    text-decoration-color: transparent; 
    transition: text-decoration-color 0.3s ease, color 0.3s ease;
    color: whitesmoke;
    font-size: 20px;
    transition: font-size 0.4s ease-in-out;
}

.navbar a:hover {
    text-decoration-color: #ffcc00;
    color: #ffcc00;
    transition: text-decoration-color 0.3s ease-in-out, color 0.3s ease;
}

/* Home Section Rules */
.home {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;  
}

.home div:first-child {
    align-content: center;
    margin-left: 40px;
}

.main-heading {
    position: relative;
    font-size: 75px; 
    color: rgb(255, 255, 255); 
    margin: 0; 
    z-index: 2;
}

.sub-heading {
    font-size: 24px;
    color: whitesmoke; 
    margin: 0; 
}



/* About Section Rules */
.about {
    display: flex;
    flex-direction: column;
    min-height: auto;
}

.about-heading {
    color: orange;
    justify-items: center;
    font-size: 45px;
    padding-top: 50px;
}

.about-text {
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    font-size: 22px;
}


/* Services Section Rules */
.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.services-heading {
    color: orange;
    font-size: 45px;
    padding-top: 50px;
    padding-bottom: 40px;

}

.services-body {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.services-body h3 {
    color:black;
    justify-self: center;
    font-size: 1.3rem;
}

.services-body img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    
}

.flip-card {
    margin: 0px 10px;
    padding: 10px 10px;
    background-color: transparent;
    width: 220px;
    height: 300px;
    perspective: 1000px;

}
  
.flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px;
    height: 280px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}
  
.flip-card-front {
    background: whitesmoke;
    color: coral;
}
  
.flip-card-back {
    background: whitesmoke;
    color: black;
    transform: rotateY(180deg);
}

/* Contact Section Rules */


/* Footer Section Rules */

footer {
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: end;
    overflow-y: hidden;
    margin: 0;

}

.footer-heading {
    color: orange;
    justify-items: center;
    font-size: 45px;
    padding-top: 50px;
}

.footer-img img {
    width: 1300px;
    margin-bottom: -120px; 
    text-decoration: none;
}

.footer-email {
    color: whitesmoke;
    font-size: 22px;
}

.footer-social-icons a {
    padding: 0px 10px;
    text-decoration: none;
}

.footer-social-icons img {
    width: 45px;
    height: 45px;
    
}
